body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
  font-size: 0.9rem;
  background-color: lightgray;
  padding: 3px 5px;
  border-radius: 6px;
}

button {
  color: #fff;
  display: inline-block;
  font-size: 0.85rem;
  margin: 0 auto;
  outline: none;
  background-color: #348bf5;
  border: none;
  margin: 0.25rem;
  border-radius: 1rem;
  padding: 0.5rem 1rem;
  transition: 0.1s;
  cursor: pointer;
  &:hover {
    background-color: #4a9cff;
    box-shadow: 2px 2px 0 0 #206fcf;
    transform: translate(-2px, -2px);
  }
}

input {
  border-radius: 6px;
  outline: none;
  border: 1px solid black;
  padding: 5px;
}
